html {
  --global-backgroundColor: #121212;
  --global-fontColor: rgb(255, 255, 255, 0.75);
  --global-fontColorBright: white;
  --global-borderColor: black;
  --global-iconColor: hsl(202, 64%, 60%);
  --global-fontsize: 10;
  --global-timelineItemPercentage: calc(100% / 6);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--global-backgroundColor);
  color: var(--global-fontColor);
}

.appContainer {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.headerMenuContainer {
  display: flex;
}

.headerMenuContainer>div {
  margin: auto 5px;
}

.darkModeControl {
  cursor: pointer;
}

.headerMenu {
  display: block;
  cursor: pointer;
  margin: auto 0;
}

.headerLogo {
  font-family: 'Audiowide', cursive;
  cursor: pointer;
  margin: auto 0;
}

.appHeader {
  height: 5%;
  font-size: 1.5em;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5vw;
  border-bottom: 1px solid var(--global-borderColor);
}

.appBody {
  height: 95%;
  position: relative;
  overflow: auto;
}

.floatingTimeLine {
  position: fixed;
  left: 2vw;
  top: 0;
  transform: translateY(30%);
  display: none;
}

.timelineTrack {
  position: relative;
  height: 60vh;
  border-left: 3px solid var(--global-fontColor);
}

.timelineCurrentDot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  top: 0%;
  transform: translateX(-65%);
  z-index: 1;
  transition: top 0.8s ease-in-out;
}

.timelineContent {
  position: absolute;
  font-size: 0.7rem;
  left: 20px;
  width: 100px;
  transform: translateY(-15%);
  color: rgba(211, 211, 211, 0.5);
  transition: all 0.3s ease-in-out;
}

.timelineContent:hover {
  color: var(--global-fontColorBright);
  cursor: pointer;
}

.timelineContent::before {
  content: "";
  width: 18px;
  top: -15%;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(211, 211, 211, 0.5);
  background-color: var(--global-backgroundColor);
  display: block;
  position: absolute;
  left: -32%;
}

.timelineItem1 {
  top: 0%;
}

.timelineItem2 {
  top: calc(var(--global-timelineItemPercentage) * 1)
}

.timelineItem3 {
  top: calc(var(--global-timelineItemPercentage) * 2)
}

.timelineItem4 {
  top: calc(var(--global-timelineItemPercentage) * 3)
}

.timelineItem5 {
  top: calc(var(--global-timelineItemPercentage) * 4)
}

.timelineItem6 {
  top: calc(var(--global-timelineItemPercentage) * 5)
}

.timelineItemLast {
  top: 100%;
}

.timelineItemActive {
  color: var(--global-fontColorBright);
}

.appBodyContent {
  height: 100%;
  padding: 5vh 7vw;
}

.homePageContentsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
}

.contentPage {
  padding: 5vh 0;
}

.profilePicContainer {
  align-self: center;
  justify-self: center;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.profilePicContainer>img {
  object-fit: contain;
  width: 250px;
  height: 250px;
}

.profileContentsContainer {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.profileName {
  font-size: 2rem;
  font-weight: bold;
  color: var(--global-fontColorBright);
}

.profileJobTitle {
  font-size: 1.5rem;
}

.profileDescription {
  font-size: 1rem;
}

.profileActionButtons {
  display: flex;
  flex-direction: column;
  width: 160px;
  justify-content: space-between;
}

.profileActionButtons>button {
  background-color: #3700B3;
}

.profileActionButtons>button:hover {
  background-color: hsl(258, 100%, 35%);
}

.profileMoreInfoArrowIcon>svg {
  animation: moreInfoDivAnimation 1s infinite;
}

.profileMoreInfoDiv {
  cursor: pointer;
  color: #03dac6;
  transition: transform 0.5s ease-in-out;
  font-weight: bold;
}

.profileMoreInfoDiv:hover {
  transform: translateY(-5%);
}

.aboutMeContainer {
  height: 500px;
}

.aboutMeHeaderContainer {
  text-align: center;
}

.aboutMeTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.aboutMeSubTitle {
  font-size: 0.8rem;
  font-style: italic;
  opacity: 0.8;
}

.aboutMeDescriptions {
  padding: 20px 0;
  font-size: 1rem;
}

.aboutMeExtraDetails svg {
  font-size: 3rem;
  color: var(--global-iconColor);
  transition: transform 0.3s ease-in-out;
}

.aboutMePersonalDetails svg:hover {
  transform: translateY(-5px);
}

.aboutMeExtraDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.aboutMeWorkExperienceCounter {
  padding: 5vh 0;
  align-self: center;
}

.aboutMeWorkExperienceCounter svg {
  font-size: 5rem;
}

.workExperienceLabel {
  font-weight: bold;
}

.workExperienceCounterText {
  font-style: italic;
}

.aboutMePersonalDetails {
  display: flex;
  flex-direction: row;
  padding-bottom: 5vh;
  padding-top: 2vh;
  border-bottom: 1px solid;
  justify-content: space-evenly;
}

.aboutMePersonalDetails>div {
  width: 33%;
}

.aboutMePersonalDetailsValue {
  font-weight: bold;
}

@keyframes moreInfoDivAnimation {
  0% {
    transform: translateY(25%);
  }
  50% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(25%);
  }
}

/* custom scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 10%);
  border-radius: 10px;
}

/* media sizes for larger than small screen*/

@media only screen and (min-width: 800px) {
  .headerMenu {
    display: none;
  }
  .headerLogo {
    margin: auto;
  }
  .floatingTimeLine {
    display: block;
  }
  .appBodyContent {
    padding: 5vh 15vw;
  }
  .contentPage {
    padding: 20vh 0;
  }
  .homePageContentsContainer {
    flex-direction: row;
    gap: 5vw;
  }
  .profileName {
    font-size: 2.3rem;
  }
  .profileJobTitle {
    font-size: 1.7rem;
  }
  .profileDescription {
    font-size: 1.3rem;
  }
  .profilePicContainer {
    align-self: flex-start;
  }
}